# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Django logs
*.log

# Django database file
*.sqlite3

# Django media folder
media/

# Others
*.note.txt
.obsidian/
